---
// Copyright (c) 2025 Michele Tavella <meeghele@proton.me>
// Licensed under the MIT License. See LICENSE file for details.

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <h1>Blog</h1>
  <p>This is a placeholder blog page used by the automated gate tests.</p>
</BaseLayout>
