---
// Copyright (c) 2025 Michele Tavella <meeghele@proton.me>
// Licensed under the MIT License. See LICENSE file for details.

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">
  <h1>Projects</h1>
  <p>Another simple route that the gate redirects to during the Playwright suite.</p>
</BaseLayout>
